In [30]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import fetch_openml
import seaborn as sns
from sklearn.cluster import KMeans

from sklearn.inspection import permutation_importance
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
%matplotlib notebook

In [31]:
#reading the final_gene_list and then cluster them
import os

df_gene = pd.read_csv('final_gene_list.csv')

KeyboardInterrupt:

In [3]:
df_gene.shape

(6802, 20000)

In [4]:
df_gene.head()

,X217398_x_at,X1007_s_at,X121_at,X200045_at,X200053_at,X200071_at,X200078_s_at,X200083_at,X200617_at,X200621_at,...,X220558_x_at,X220559_at,X220560_at,X220561_at,X220562_at,X220563_s_at,X220564_at,X220565_at,X220566_at,X220567_at
0,14.8671,11.0591,6.8277,9.5294,8.3286,9.3068,9.5442,9.3407,8.9275,10.1233,...,5.1859,4.2881,4.7643,5.2610,5.6335,4.2882,5.2773,5.2037,4.2883,4.2884
1,14.8777,11.1169,6.7891,9.5766,9.0341,9.5069,9.8331,8.8887,8.9703,9.9776,...,4.2640,5.5825,4.6809,4.2366,5.6856,4.6310,4.4076,5.5568,5.0411,4.6777
2,14.8518,10.9811,6.8793,9.3658,8.4623,9.4156,9.5450,9.1866,9.0396,9.9204,...,5.2548,5.1080,5.5434,4.4733,5.4211,5.6083,5.2171,4.4056,4.3341,4.8077
3,14.8416,10.6992,6.8515,9.4089,8.8189,9.3535,9.4884,9.1249,8.9817,10.0511,...,5.3894,4.4339,4.8631,4.5597,5.2773,5.1513,4.6724,4.4341,4.4342,4.4344
4,14.8518,11.0156,6.6954,9.6096,9.2547,9.2254,9.7614,9.2038,9.2665,10.0792,...,5.7820,5.4174,5.8110,4.9831,5.2830,5.3548,4.3360,4.3361,4.5812,4.3363

In [5]:
lm_df=df_gene.iloc[:,:978] #dropping last row to get 6802 rows, not 6803 to mmatch clinical data

In [6]:
#lm_df=df_gene

In [7]:
lm_df.shape

(6802, 978)

In [8]:
df_unscaled=lm_df.T

In [9]:
df_unscaled.head()

,0,1,2,3,4,5,6,7,8,9,...,6792,6793,6794,6795,6796,6797,6798,6799,6800,6801
X217398_x_at,14.8671,14.8777,14.8518,14.8416,14.8518,14.8917,14.8533,14.8229,14.8630,14.9309,...,14.8880,14.8764,14.8979,14.8905,14.8905,14.9222,14.9259,14.9309,14.9125,14.9210
X1007_s_at,11.0591,11.1169,10.9811,10.6992,11.0156,10.8042,11.1034,10.9179,10.9087,11.0903,...,7.5653,7.7099,7.7110,7.4771,7.4623,7.1458,8.5472,7.0306,7.2778,7.6270
X121_at,6.8277,6.7891,6.8793,6.8515,6.6954,6.5186,6.9883,6.7593,6.4922,6.4413,...,6.9360,6.6951,6.3439,6.3907,6.7446,6.7531,4.3008,7.2987,6.6809,6.2540
X200045_at,9.5294,9.5766,9.3658,9.4089,9.6096,9.6603,9.7641,9.2984,9.6520,11.6816,...,10.1641,10.4280,10.4766,10.2141,10.7156,10.0263,10.2109,10.3620,10.5148,10.4401
X200053_at,8.3286,9.0341,8.4623,8.8189,9.2547,8.9722,9.2658,8.8636,9.6595,5.5324,...,7.9824,7.8081,7.8354,7.8337,7.9399,6.8334,7.8786,8.6716,7.6578,8.9371

In [10]:
#Scaling the data
from sklearn.preprocessing import StandardScaler

scaler =StandardScaler()
df=scaler.fit_transform(df_unscaled)

In [11]:
from sklearn.cluster import KMeans

In [ ]:
#calculating sse for various values of n_clusters
num_clusters=range(1,12)
sse=[]
for k in num_clusters:
    kmodel= KMeans(n_clusters=k)
    kmodel.fit(df)
    sse.append(kmodel.inertia_)

sse

In [ ]:
#plotting the elbow curve
plt.figure()
plt.xlabel('k')
plt.ylabel('sse')
plt.plot(num_clusters,sse)
plt.title('elbow curve')
plt.show()

In [12]:
#building kmeans model with  clusters (based on the elbow curve, n_clusters is chosen )
kmeans = KMeans(n_clusters=4, random_state=10).fit(df)

In [13]:
#cluster centroids
#kmeans.cluster_centers_

In [14]:
#predicting with the kmeans clustering model
clusters=kmeans.predict(df) #cluster labels (kmeans.labels_)

In [15]:
#silhoutte score for the model built
metrics.silhouette_score(df, clusters, metric = 'euclidean')

0.22744909537247038

In [ ]:
#validating n_clusters using silhoutte score
s = []
nclusters = range(2, 13) #nclusters must be > 1
for n in nclusters:
    y_pred_temp = KMeans(n_clusters = n).fit_predict(df)  
    score = metrics.silhouette_score(df, y_pred_temp,metric = 'euclidean')
    s.append((n, score))
s

In [ ]:
#!'/Library/Developer/CommandLineTools/usr/bin/python3' -m pip install yellowbrick

In [ ]:
#Visualizing Silhouette score for n_clusters 2,3,4,5
from yellowbrick.cluster import SilhouetteVisualizer

fig, ax = plt.subplots(2, 2, figsize=(15,8))
for i in [2, 3, 4, 5]:
    '''
    Create KMeans instance for different number of clusters
    '''
    km = KMeans(n_clusters=i, init='k-means++', n_init=10, max_iter=100, random_state=42)
    q, mod = divmod(i, 2)
    '''
    Create SilhouetteVisualizer instance with KMeans instance
    Fit the visualizer
    '''
    visualizer = SilhouetteVisualizer(km, colors='yellowbrick', ax=ax[q-1][mod])
    visualizer.fit(df)

Here is the Silhouette analysis done on the above plots to select an optimal value for n_clusters.

The value of n_clusters as 4 and 5 looks to be suboptimal for the given data due to the following reasons:
    
    Wide fluctuations in the size of the silhouette plots.
The value of 2 and 3 for n_clusters looks to be the optimal one. The silhouette score for each cluster is above average silhouette scores. Also, the fluctuation in size is similar. The thickness of the silhouette plot representing each cluster also is a deciding point. For the plot with n_cluster 3 (top right), the thickness is more uniform than the plot with n_cluster as 4 with one cluster thickness much more than the other. Thus, the optimal number of clusters is chosen as 3.

In [ ]:
pd.options.mode.chained_assignment = None #default=warn

In [ ]:
#test set silhouette_score
#metrics.silhouette_score(X, y_pred, metric = 'euclidean')

In [16]:
kmeans.inertia_ #The lower values of inertia are better and zero is optimal.

2519045.7278746236

In [17]:
#calculating mean expression for each gene
#df_unscaled['mean_exp'] = df_unscaled.mean(axis=1)

In [18]:
# dict to store clusters data
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

# prints the cluster dict
cluster_dict

# adds the cluster information as a column in the df
df_unscaled['cluster'] = cluster_dict

# saves the df as a .xlsx
#df_unscaled.to_excel("4_clusters_k_means.xlsx")

In [19]:
df_unscaled.head()

,0,1,2,3,4,5,6,7,8,9,...,6793,6794,6795,6796,6797,6798,6799,6800,6801,cluster
X217398_x_at,14.8671,14.8777,14.8518,14.8416,14.8518,14.8917,14.8533,14.8229,14.8630,14.9309,...,14.8764,14.8979,14.8905,14.8905,14.9222,14.9259,14.9309,14.9125,14.9210,2
X1007_s_at,11.0591,11.1169,10.9811,10.6992,11.0156,10.8042,11.1034,10.9179,10.9087,11.0903,...,7.7099,7.7110,7.4771,7.4623,7.1458,8.5472,7.0306,7.2778,7.6270,1
X121_at,6.8277,6.7891,6.8793,6.8515,6.6954,6.5186,6.9883,6.7593,6.4922,6.4413,...,6.6951,6.3439,6.3907,6.7446,6.7531,4.3008,7.2987,6.6809,6.2540,0
X200045_at,9.5294,9.5766,9.3658,9.4089,9.6096,9.6603,9.7641,9.2984,9.6520,11.6816,...,10.4280,10.4766,10.2141,10.7156,10.0263,10.2109,10.3620,10.5148,10.4401,1
X200053_at,8.3286,9.0341,8.4623,8.8189,9.2547,8.9722,9.2658,8.8636,9.6595,5.5324,...,7.8081,7.8354,7.8337,7.9399,6.8334,7.8786,8.6716,7.6578,8.9371,3

In [20]:
#cluster sizes
df_unscaled['cluster'].value_counts()

3    386
1    286
0    250
2     56
Name: cluster, dtype: int64

In [21]:
 cluster1=df_unscaled[df_unscaled.cluster==0].drop(['cluster'],axis=1)

cluster2=df_unscaled[df_unscaled.cluster==1].drop(['cluster'],axis=1)
                                                 
cluster3=df_unscaled[df_unscaled.cluster==2].drop(['cluster'],axis=1)
cluster4=df_unscaled[df_unscaled.cluster==3].drop(['cluster'],axis=1)

#cluster4=df_unscaled[df_unscaled.cluster==3]

#cluster5=df_unscaled[df_unscaled.cluster==4]
#
#cluster1.to_csv('cluster1.csv',index=False)
#cluster2.to_csv('cluster2.csv',index=False)
#print("size of clusters:\n",len(cluster1), len(cluster2), len(cluster3), len(cluster4))

In [22]:
cluster1.head()

,0,1,2,3,4,5,6,7,8,9,...,6792,6793,6794,6795,6796,6797,6798,6799,6800,6801
X121_at,6.8277,6.7891,6.8793,6.8515,6.6954,6.5186,6.9883,6.7593,6.4922,6.4413,...,6.9360,6.6951,6.3439,6.3907,6.7446,6.7531,4.3008,7.2987,6.6809,6.2540
X201080_at,5.8889,6.8931,6.3815,6.7537,6.6213,6.0765,6.2207,6.3143,7.3162,7.6793,...,7.5672,7.0320,7.0638,6.9234,7.1437,6.3088,7.3684,7.4438,5.3008,6.9204
X201314_at,6.8150,6.6886,6.7289,6.5814,6.9998,7.3229,7.1081,6.7546,6.6803,7.2402,...,7.3832,7.3250,7.6062,7.6418,6.9622,6.7791,7.0534,8.1829,7.5245,7.9154
X201932_at,6.5559,7.1417,6.9133,7.2298,7.1014,7.5383,7.0162,7.1871,7.2646,5.8057,...,7.8978,8.1437,8.3013,7.9040,8.1450,8.5288,8.3164,9.6620,8.1490,8.4401
X201984_s_at,5.4689,5.0953,4.7323,5.6754,5.4022,5.4670,5.6738,5.4457,4.3502,5.4913,...,7.1647,6.7386,7.4741,7.1474,8.1503,7.2302,8.4079,4.3735,7.8864,7.1779

In [23]:
#cluster_means=pd.concat([cluster1['mean_exp'], cluster2['mean_exp'],cluster3['mean_exp'],cluster4['mean_exp']], axis=1)

In [24]:
#cluster_means.columns=['cluster1', 'cluster2','cluster3','cluster4']

In [25]:
#cluster_means.shape

In [26]:
#cluster_means

In [27]:
#cluster_means.describe()

In [ ]:
#cluster_means.boxplot()

In [ ]:
#nonlm=df_gene.iloc[:, 979:]
#15-set of randomly choosen nonlm genes
# Randomly selecting 978 columns from the dataset (random sample without replacement)
#df_nonlm_1 = nonlm.sample(n=978, random_state=123, axis=1)

In [ ]:
#df_nonlm_1.head()

In [28]:
cluster1_transpose=cluster1.T
cluster2_transpose=cluster2.T
cluster3_transpose=cluster3.T
cluster4_transpose=cluster4.T
#cluster4_transpose=cluster4.T
#cluster4_transpose=cluster4.T
#cluster5_transpose=cluster5.T

In [29]:
cluster1_transpose.to_csv('lm_c1.csv',index=False)
cluster2_transpose.to_csv('lm_c2.csv',index=False)
cluster3_transpose.to_csv('lm_c3.csv',index=False)
cluster4_transpose.to_csv('lm_c4.csv',index=False)
#cluster4_transpose.to_csv('c4.csv',index=False)
#cluster5_transpose.to_csv('c5.csv',index=False)

In [ ]:
cluster1_transpose.shape